body {
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #131419;
    }
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}

table#hnmain {
    width: 100%;
    background: transparent;
}

/* This is the main navigation bar. */
td[bgcolor="#ff6600"] {
    padding: 4px;
}

@media (prefers-color-scheme: dark) {
    td[bgcolor="#ff6600"] {
        background: #0b0c0e;
    }
}

span.pagetop {
    color: rgba(0, 0, 0, 0.5);
}

span.pagetop a {
    margin: 0 4px;
}

@media (prefers-color-scheme: dark) {
    span.pagetop a {
        color: rgba(255, 255, 255, 0.5);
    }
}

tr#pagespace {
    height: 16px !important;
}

tr.spacer {
    height: 16px !important;
}

table.itemlist {
    width: 960px;
    margin: 0 auto;
}

span.commtext {
    font-size: 15px;
    line-height: 1.4;
}

tr.athing.comtr td {
    padding-bottom: 16px;
}

table.fatitem {
    width: 960px;
    margin: 0 auto;
}

table.comment-tree {
    width: 960px;
    margin: 0 auto;
}

a:link.storylink {
    font-size: 18px;
    font-weight: 600;
}

a:link.storylink:hover {
    color: #ff6600;
}

.title a.storylink:visited {
    color: #b0b0b0 !important;
    text-decoration: line-through !important;
}

.subtext {
    padding-top: 4px;
    font-size: 12px !important;
}

@media (prefers-color-scheme: dark) {
    a:link.storylink {
        color: rgba(255, 255, 255, 0.75);
    }

    .title a.storylink:visited {
        color: #3d425a !important;
        text-decoration: line-through !important;
    }
}